@charset "utf-8";
/* CSS Document */
/*整体初始化*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend, img { margin:0; padding:0; }
fieldset,textarea{border:0;}    /*去掉边框*/
img{display:block; border:0;}    	/*解决图片bug*/
ul,ol{list-style:none;}    /*去掉列表样式*/
/*设置链接*/
a{color:#333; text-decoration:none;}
a:hover{color:#f40; text-decoration:underline;}
/*特殊声明*/
body{ font-size:14px; color:#666; background: url(../images/body_bg.png) repeat-x; font-family: 微软雅黑;}
h1,h2,h3,h4{ font-size:100%; font-weight:normal;}

/*header样式开始*/
.header{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.header h1{
    width: 186px;
    height: 40px;
    margin: 9px 84px 0 0;
    float: left;
}
.header h1 a{
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    height: 40px;
}
.header ul{
    width: 700px;
    height: 60px;
    float: left;
    overflow: hidden;
    zoom: 1;
}
.header li{
    margin-right: 3px;
    float: left;
}
.header li a{
    line-height: 60px;
    display: block;
    color: #fff;
    padding: 0 15px;
}
.header li a.cur{
    background: #008aff;
}
.header li a:hover{
    background: #008aff;
}

.header .login{
    margin-top: 14px;
    width: 110px;
    height: 30px;
    float: right;
    overflow: hidden;
    zoom: 1;
}
.login a{
    width: 45px;
    height: 26px;
    border: 2px solid #ff6400;
    line-height: 26px;
    text-align: center;
    color: #ff6400;
    float: right;
    margin-left: 6px;
}
.login .reg_btn{
    background: #ff6400;
    color: #fff;
}
/*header样式结束*/

/*footer样式开始*/
.footer{
    padding-top: 20px;
    background: #304363;
    border-top: #293752 solid 2px;
}
.inFooter{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 25px;
    overflow: hidden;
    zoom: 1;
}
.inFooter dl{
    float: left;
    margin-right: 120px;
}
.inFooter dt{
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}
.inFooter dd{
    color: #B0BDD0;
    font-size: 12px;
    line-height: 25px;
}
.inFooter img{
    margin-top: 25px;
    float: right;
}
.copyright{
    background: #1B2435;
}
.copyright p{
    width: 1200px;
    margin: 0 auto;
    color: #7B889B;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
}
/*footer样式结束*/

/*公用样式汇总开始*/
.commonH2{
    font-size: 30px;
    text-align: center;
    font-family: 微软雅黑;
    line-height: 60px;
    color: #333;
    padding-top: 15px;
}
/*公用样式汇总结束*/
